<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <link rel="stylesheet" th:href="@{CSS/searchResStyle.css}" type="text/css">
</head>
<body>
<header class="head">
    <a href="https://github.com/Shish-ok/NetcrackerJavaHomework5" class="homework-logo">JAVA HOMEWORK</a>
    <ul class="menu">
        <li><a href="http://localhost:8080/search-employee" id="search">SEARCH EMPLOYEE</a></li>
        <li><a href="http://localhost:8080/send-email" id="send">SEND EMAIL</a></li>
    </ul>
</header>
<div class="message">
    <h1>Employee not found!</h1>
    <label>This employee not found — try to find another employee</label>
</div>
</body>
</html>